@model VMLogin

@{
    ViewData["Title"] = "Login Pag";
}

<html>


<body>
    <div class="login">
        <h1>Login to the system </h1>

        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Login">
            <p><input type="text" name="UserName"  value="" placeholder="Username" required></p>
            <p><input type="password" name="Password" value="" placeholder="Password" required></p>

            <div>
                <p >  <input id="btnLogin" value="Login" type="submit" onclick="$(this).closest('form').submit();" />
                <input id="btn Singup" value=" Sing up" type="submit" /> </p>
                
            </div>
            <hr />
        </form>
    </div>
</body>
</html>
